    //lista con los nombre de los iconos, o redes sociales
    $iconList: (youtube, instagram, facebook, whatsapp, up, camera, telegram);
	
    // este es el loop
  @each $i in $iconList {
      $iconName: "img/icon_" + $i + ".svg";
    .icon-#{$i} {background-image: url($iconName);}
  }


.iconito {
    display: block;
    width: 1.5em;
    height: 1.5em;
    background-size: cover;
    margin-top: .313em;
   /* background-size: 100px 82px; */
    
   
}

