.icon-telegram {
    background-image: url("telegram.svg");

}

.icon-up {
    background-image: url("btn_up.svg");

}

.icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    background-size: cover;
    /* background-size: 100px 82px; */
  }