@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap");
.icon-youtube {
  background-image: url("img/icon_youtube.svg");
}

.icon-instagram {
  background-image: url("img/icon_instagram.svg");
}

.icon-facebook {
  background-image: url("img/icon_facebook.svg");
}

.icon-whatsapp {
  background-image: url("img/icon_whatsapp.svg");
}

.icon-up {
  background-image: url("img/icon_up.svg");
}

.icon-camera {
  background-image: url("img/icon_camera.svg");
}

.icon-telegram {
  background-image: url("img/icon_telegram.svg");
}

.iconito {
  display: block;
  width: 1.5em;
  height: 1.5em;
  background-size: cover;
  margin-top: .313em;
  /* background-size: 100px 82px; */
}

.menusito ul {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #47344e;
}

.menusito li {
  float: left;
  background-color: blue;
}

.menusito li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menusito li a:hover {
  background-color: #e76f51;
}

.menusito .active {
  background-color: #47344e;
  font-size: 12px;
}

body {
  color: #4f86ce;
  background-color: pink;
}

body button {
  display: inline-block;
  background-color: #d6d470;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

body button:hover {
  background-color: #e76f51;
}

h2 {
  background-color: #d6d470;
  color: #4f86ce;
  margin: 25px;
  padding: 5px;
  text-align: center;
}

#demo {
  color: darkgray;
  background-color: #d6d470;
}

ol {
  border: black;
  border-color: black;
  border-radius: 10px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #459459;
  padding: 20px;
  margin: 30px;
}

div.tres-bloques {
  background-color: yellow;
  height: 2000px;
}

div.tres-bloques h1, div.tres-bloques ul {
  background-color: #2a9d8f;
  color: white;
  height: 200px;
  width: 200px;
  margin: 20px auto;
  padding: 20px 0;
  text-align: center;
  outline: 2px  solid blue;
  border-color: black;
  border-radius: 25px;
  border-style: dotted;
  border-width: 5px;
  position: relative;
  overflow: hidden;
  text-decoration: underline;
  text-shadow: 2px 2px 10px green;
  font-family: 'Annie Use Your Telescope', cursive;
  display: inline-flexbox;
}

div.tres-bloques ul {
  list-style-type: square;
  /* align-items: initial; */
  padding: auto;
}

div.tres-bloques ul li {
  padding: 10px 0;
  display: block;
}

div.tres-bloques h1:hover {
  color: blue;
  background-color: #e76f51;
  text-shadow: 2px 2px 2px red;
}

table {
  background-color: #d6d470;
  color: #4f86ce;
  border: 3px solid blue;
  padding: 5px;
  width: 75%;
}

table th, table td {
  background-color: white;
  border: 3px solid black;
  padding: 20px;
  text-align: center;
}

a:visited {
  color: #2a9d8f;
}

a:hover {
  color: #e76f51;
}
/*# sourceMappingURL=style.css.map */