@import 'colores';
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');



.menusito {
    ul { 
        overflow: hidden;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: $fondo2;

    }

    li {
        float: left;
        background-color: blue;

        a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        a:hover {
            background-color: $linkHover;
        }
    }

    .active {
        background-color: $fondo2;
        font-size: 12px;
    }


    
}

body {
    color: $segundoColor;
    background-color: pink;

        button {
            display: inline-block;
            background-color: $colorFavorito;
            border-radius: 10px;
            border: 4px double #cccccc;
            color: #eeeeee;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }
        
        button:hover {
            background-color: $linkHover;
          }
}

h2 {
    background-color: $colorFavorito;
    color: $segundoColor;
    margin: 25px;
    padding: 5px;
    text-align: center;
}

#demo {
    color:darkgray;
    background-color:$colorFavorito;
}

ol {
    border: black;
    border-color: black;
    border-radius: 10px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #459459;
    padding: 20px;
    margin: 30px;
};

div.tres-bloques { 
    background-color: yellow;
    height: 2000px;

    
    

    h1, ul{
        background-color: $bloques;
        color: white;
        height: 200px;
        width: 200px;
        margin: 20px auto;
        padding: 20px 0;
        text-align: center;
        outline: 2px  solid blue;
        border-color: black;
        border-radius: 25px;
        border-style: dotted;
        border-width: 5px;
        position: relative;
        overflow:hidden;
        text-decoration: underline;
        text-shadow: 2px 2px 10px green ;
        font-family: 'Annie Use Your Telescope', cursive;
        display: inline-flexbox;
        
        

    }

    ul {
        list-style-type: square;
        
        /* align-items: initial; */
        padding: auto;
        

        
        li {
            padding: 10px 0;
            display: block;
            
        };
        
    }

    h1:hover {
        color: blue;
        background-color: $linkHover;
        text-shadow: 2px 2px 2px red;
        


    }
        
        
    
}

table {
    background-color: $colorFavorito;
    color: $segundoColor;
    border: 3px solid blue;
    padding: 5px;
    width: 75%;
    th, td {
        background-color: white;
        border: 3px solid black;
        padding: 20px;
        text-align: center;
    }
}

a:link {

}

a:visited {
    color: $linkVisitado;

}

a:hover {
    color: $linkHover;

}


a:active {

}